html {
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Nunito Sans", "Times New Roman", Times, serif;
}
@media only screen and (min-width: 768px) {
	main {
		width: 90%;
	}
}
main {
	max-width: 1280px;
	margin: 0 auto;
}
.app-header {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	padding: 1rem;
	h1 {
		font-size: 1rem;
		font-weight: 800;
	}
}
@media only screen and (min-width: 768px) {
	.app-header {
		padding-left: 0;
		h1 {
			width: 90%;
			margin: 0.5rem auto;
			max-width: 1280px;
		}
	}
}
.country-search {
	display: flex;
	margin: 2rem 1rem;
	box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
	padding: 1.2rem 2rem;
	border-radius: 0.3rem;
	input {
		border: none;
		outline: none;
		padding-left: 1rem;
		width: 100%;
	}
}
.sort, .region-filter {
	box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
	padding: 1rem 1.4rem;
	margin: 1rem;
	border-radius: 0.3rem;
	display: inline-block;
	select {
		border: none;
		padding-right: 3.5rem;
		background: #fff;
	}
}
.country-name {
	font-weight: 800;
}
.pagination {
	padding: 1rem;
	height: 75px!important;

	.next {
		float: right;
	}
	button {
		background: #fff;
		border: none;
		box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
		padding: 0.7rem 2rem;
		border-radius: 0.3rem;
		transition: box-shadow 0.3s;
		&:hover,
		&:focus {
			box-shadow: rgb(0 0 0 / 20%) 0px 4px 50px;
		}
	}
}
@media only screen and (min-width: 768px){
	.pagination{
		padding: 1rem 0;
	}
}
.single-country {
	display: block;
	color: #000;
	text-decoration: none;
	width: 75%;
	margin: 3rem auto;
	box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
	border-radius: 0.3rem;
	overflow: hidden;
	transition: box-shadow 0.3s;
	.country-flag {
		width: 100%;
	}
	.country-details {
		padding: 0 1.5rem 1rem;
	}
	&:hover,
	&:focus {
		box-shadow: rgb(0 0 0 / 20%) 0px 4px 50px;
	}
}
@media only screen and (min-width: 768px) {
	.single-country {
		flex: 1 0 15rem;
		max-width: 265px;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
.back-home {
	box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
	padding: 0.7rem 2rem;
	margin: 2.5rem 0 3rem;
	border-radius: 0.3rem;
	display: inline-block;
	text-decoration: none;
	color: #000;
	&::before {
		content: "\27F5";
		display: inline-block;
		transform: translateX(-0.5rem);
		transition: all 0.3s;
	}
	&:hover::before,
	&:focus::before {
		transform: translateX(-1rem);
	}
}
.country-info {
	padding: 0 1.7rem;
	.country-flag {
		width: 100%;
	}
}
@media only screen and (min-width: 768px) {
	.country-info {
		iframe {
			width: 100%;
			height: 300px;
			margin-bottom: 5rem;
		}
	}
}
.border-country {
	box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
	padding: 0.3rem 0;
	margin-right: 0.6rem;
	border-radius: 0.2rem;
	display: inline-block;
	text-decoration: none;
	color: #000;
	margin-bottom: 2rem;
	width: 30%;
	text-align: center;
	transition: box-shadow 0.3s;
	font-size: 0.75rem;
	&:hover,
	&:focus {
		box-shadow: rgb(0 0 0 / 20%) 0px 4px 50px;
	}
}
@media only screen and (min-width: 768px) {
	.all-countries {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		margin: 0 auto;
	}
}
button:hover {
	cursor: pointer;
}
@media only screen and (min-width: 768px) {
	.search-filter {
		display: flex;
		justify-content: space-between;
		.country-search {
			margin-left: 0;
			width: 30rem;
			padding: 1rem 2rem;
		}
		.sort, .region-filter {
			margin: 2rem 1rem;
			margin-right: 0;
		}
	}
}

@media only screen and (min-width: 1180px) {
	.desktop-counry-layout {
		display: flex;
		align-items: flex-start;
		gap: 6rem;
		.country-flag {
			max-width: 400px;
		}
		.desktop-country-meta {
			flex: 1 0;
		}
	}
	.desktop-country-info {
		display: flex;
		justify-content: space-between;
	}
}
