.app-header{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	padding: 2rem 1rem;
	p{
		margin: 0;
	}
}
.pagination{
	overflow: hidden;
}
.next{
	float: right;
}
.single-country{
	display: block;
	color: #000;
	text-decoration: none;
}